.homepage-head-background {
    height: 400px;
    background: url('images/portfolio-header.svg');
}
.portfolio-head-background {
    background: url('images/portfolios-header-laptop+.svg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
}
#libguide-head-background {
    background: url('images/libguide-header-1000+.svg');
    background-position: top center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.libguide-h1 {
    margin: 10% 30% 10% 30%;

}
h1 {
    margin: 10% 10% auto 10%;
    padding: 5px;
    font-size: 2.5em;
}
.home-container {
    display: flex;
    flex-direction: row;
    /* padding: 0; */
    background-color: #ffffff;
}
.home-container > div {
    width: 40%;
    color: black;
    /* padding: 0; */
    text-align: left;
  }
  .home-container > #about-blurb {
    width: 90%;
    margin-left: 5%;
    font-size: 2vw;
    text-align: justify;
  }
#button-menu {
    margin-top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.home-button-layout {
    margin: 0 10px;
}
/* Portfolio Landing Page Styling */
.portfolio-heading {
font-size: 2vw;
}
#portfolio-h1 {
    font-size: 2.75em;
    margin: 7% 35% 7% 35%;
    padding: 30px 5px 30px 5px;
}
/* Portfolio Subpage Styling */
.portfolio-page-content {
    display: flex;
    background-color: #ffffff;
    padding: 10px 10px 0 0;
	gap: 10px 10px;
}
.portfolio-page-content > div {
	width: 50%;
	background-color: #f1f1f1;
	padding: 1fr;
  }
  button {
    font-size: 2.5vw;
}

#baaaad-head-background {
    background: url('images/baaaad-head-laptop+.svg');
    background-position: top center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.baaaad-h1 {
    margin: 10% 35% 10% 35%;
    padding: 5px;
    font-size: 3em;
}
#validator-head-background {
    background: url('images/validator-head-laptop+.svg');
    background-position: top center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.validator-h1 {
    margin: 10% 30% 10% 30%;
    padding: 5px;
    font-size: 3em;
}
#lib-diversity-head-background {
    background: url('images/lib-diversity-head-laptop+.svg');
    background-position: top center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.lib-diversity-h1 {
    margin: 10% 18% 10% 18%;
    padding: 5px;
    font-size: 3em;
}
.resume-head-background {
    background: url('images/resume-head-laptop+.svg');
    background-position: top center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#resume-h1 {
    margin: 10% 30% 10% 30%;
    padding: 5px;
    font-size: 3.5em;
}
#collage-head-background {
    background: url('images/collage-head-laptop+.svg');
    background-position: top center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.collage-h1 {
    margin: 8% 30% 8% 30%;
    padding: 5px;
    font-size: 3.5em;
}