	.homepage-head-background {
		/* width: 100%; */
		height: 275px;
		/* background-size: cover; */
		background: url('portfolio-header.svg');
		justify-content: center;
		/* background-repeat: no-repeat; */
	}
	h1 {
		margin: 6vw 20% 6vw 20%;
		padding: 5px;
		font-size: 4.5vw;
	}
