	.homepage-head-background {
		height: 275px;
		background: url('portfolio-header.svg');
		justify-content: center;
	}
	h1 {
		margin: 10% 20% 10% 20%;
		padding: 5px;
		font-size: 4.5vw;
	}

	.home-container {
		display: flex;
		flex-direction: row;
		/* padding: 0; */
		background-color: #ffffff;
	}
	.home-container > div {
		width: 60%;
		color: black;
		/* padding: 0; */
		text-align: left;
	  }
	  .home-container > #about-blurb {
		width: 97%;
		margin-left: 3%;
		font-size: 2.5vw;
		text-align: justify;
	  }
	#button-menu {
		margin-top: 0;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.home-button-layout {
		margin: 0 10px;
	}
/* Portfolio Landing Page Styling */
.portfolio-head-background {
	height: 300px;
	background: url('portfolio-head-midsized.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center center;
	
}
.portfolio-heading {
	font-size: 2vw;
}
#portfolio-h1 {
	font-size: 2.5em;
	margin: 6% 39% 10% 38%;
	padding: 10px;

}
/* Portfolio SubPage Formatting */
	.portfolio-page-content {
		display: flex;
		background-color: #ffffff;
		padding: 10px 10px 0 0;
		gap: 10px 10px;
	}
	.portfolio-page-content > div {
		width: 50%;
		background-color: #f1f1f1;
		padding: 1fr;
	  }
button {
	font-size: 4.25vw;
}
/* Subpage headers */
#libguide-head-background {
	background: url('libguide-header-1000+.svg');
	height: 275px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top center;
}
.libguide-h1 {
	font-size: 2em;
	margin: 10% 27%;
}
#baaaad-head-background {
	background: url('baaaad-head-laptop+.svg');
	background-position: top center;
	height: 275px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.baaaad-h1 {
	margin: 10% 25% 10% 25%;
	padding: 5px;
	font-size: 2.5em;
}
#validator-head-background {
	background: url('validator-head-laptop+.svg');
	background-position: top center;
	height: 275px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.validator-h1 {
	margin: 10% 25% 10% 25%;
	padding: 5px;
	font-size: 2.5em;
}
#lib-diversity-head-background {
    background: url('lib-diversity-head-midsized.svg');
    background-position: top center;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.lib-diversity-h1 {
    margin: 8% 12% 8% 12%;
    padding: 5px;
    font-size: 2.25em;
}
.resume-head-background {
	background: url('resume-head-laptop+.svg');
	background-position: top center;
	height: 275px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
#resume-h1 {
	margin: 12% 25% 12% 25%;
	padding: 5px;
	font-size: 3em;
}