	.homepage-head-background {
		height: 400px;
		background: url('portfolio-header.svg');
	}
	#libguide-head-background {
		background: url('libguide-header-1000+.svg');
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
	}
	h1 {
        margin: 10% 30% 10% 30%;
		padding: 5px;
		font-size: 2.5em;
	}
