.homepage-head-background {
	height: 300px;
	background: url('images/portfolio-mobile-header.svg');
}
h1 {
	margin: 20% 10% 0 10%;
	font-size: 2em;
	text-align: center;
}
/* Homepage Styling */
.home-container {
    display: flex;
	flex-direction: column;
	/* padding: 0; */
    background-color: #ffffff;
}
.home-container > div {
	width: 95%;
	color: black;
	/* padding: 0; */
	text-align: left;
  }
  .home-container > #about-blurb {
	width: 90%;
	margin-left: 5%;
	font-size: 3vw;
	text-align: left;
  }
  #button-menu {
	display:flex;
	justify-content: center;
}
.home-button-layout {
	margin: 0 10px;
}
/* Portfolio Landing Page Styling */
.portfolio-head-background {
	height: 400px;
	background: url('images/portfolio-head-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top center;
}
.portfolio-heading {
	font-size: 2vw;
}
#portfolio-h1 {
	font-size: 1.5em;
	margin: 30vw 52% 0 48%;
	padding: 10px;
	text-align: center;
	/* text-align: center; */
}
@media screen and (max-width: 400px) {
	#portfolio-h1 {
		margin: 37vw 52% 10% 45%;
	}
}
@media screen and (max-width: 300px) {
	#portfolio-h1 {
		margin: 48vw 52% 0 45%;
	}
}
@media screen and (max-width: 220px) {
	#portfolio-h1 {
		margin: 55vw 52% 0 42%;
	}
}
.portfolio-page-content {
	width: 100%;
    display: flex;
	flex-direction: column;
    background-color: #ffffff;
    padding: 10px 10px 0 0;
	gap: 10px 10px;
}
.portfolio-page-content > div {
	background-color: #f1f1f1;
	padding: 1fr;
  }
button {
	font-size: 5vw;
}
#resume-h1 {
	font-size: 1.5em;
	margin: 10%;
}

/* Subpage Header Backdrops and Layout */
#libguide-head-background {
	background: url('images/libguide-mobile-header.svg');
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top center;
}
.libguide-h1 {
	margin: 30% 10%;
}
/* #lib-diversity-head-background {
	background-color: green;
} */
#baaaad-head-background {
	background: url('images/baaaad-head-mobile.svg');
	background-position: center center;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.baaaad-h1 {
	margin: 18% 20% 18% 20%;
	padding: 5px;
	font-size: 2em;
}
#validator-head-background {
	background: url('images/validator-head-mobile.svg');
	background-position: top center;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.validator-h1 {
	margin: 18% 15% 18% 15%;
	padding: 5px;
	font-size: 2em;
}
#lib-diversity-head-background {
    background: url('images/lib-diversity-head-midsized.svg');
    background-position: top center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.lib-diversity-h1 {
    margin: 18% 5% 18% 5%;
    padding: 5px;
    font-size: 1.75em;
}
.resume-head-background {
	background: url('images/resume-head-mobile.svg');
	background-position: top center;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
#resume-h1 {
	margin: 18% 25% 18% 25%;
	padding: 5px;
	font-size: 2.5em;
}
#collage-head-background {
	background: url('images/collage-head-mobile.svg');
	background-position: top center;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.collage-h1 {
	margin: 25% 15% 9% 15%;
	padding: 5px;
	font-size: 2.25em;
}