.homepage-head-background {
	height: 300px;
	background: url('portfolio-mobile-header.svg');
}
h1 {
	margin: 20% 10% 0 10%;
	font-size: 2em;
}
/* Homepage Styling */
.home-container {
    display: flex;
	flex-direction: column;
	/* padding: 0; */
    background-color: #ffffff;
}
.home-container > div {
	width: 95%;
	color: black;
	/* padding: 0; */
	text-align: left;
  }
  .home-container > #about-blurb {
	width: 90%;
	margin-left: 5%;
	font-size: 3vw;
	text-align: left;
  }
  #button-menu {
	display:flex;
	justify-content: center;
}
.home-button-layout {
	margin: 0 10px;
}
/* Portfolio Landing Page Styling */
.portfolio-heading {
	font-size: 2vw;
}
#portfolio-h1 {
	font-size: 2.5em;
}
.portfolio-page-content {
	width: 100%;
    display: flex;
	flex-direction: column;
    background-color: #ffffff;
    padding: 10px 10px 0 0;
	gap: 10px 10px;
}
.portfolio-page-content > div {
	background-color: #f1f1f1;
	padding: 1fr;
  }
button {
	font-size: 5vw;
}
#resume-h1 {
	font-size: 1.5em;
	margin: 10%;
}