/*linking in css stylesheet to pull in different style defaults for small/mobile screens- note page was not designed mobile first due to the parameters of this project*/
/* @import url('desktop-styles.css') (min-width:800px); */
@import "mobile-styles.css" screen and (max-width: 600px);
@import "tablet-styles.css" screen and (min-width: 600px) and (max-width: 768px);
@import "landscape-tablets-styles.css" screen and (min-width: 768px) and (max-width: 992px);
@import "laptops-styles.css" screen and (min-width: 992px) and (max-width: 1200px);
@import "extra-large-devices-styles.css" screen and (min-width: 1200px);


/* Header Formatting- all screen widths */
h1 {
	background-color: white;
	text-align: center;
	font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.homepage-head-background {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Portfolio Subpage Headers- all screen widths */
.sub-portfolio-head-background {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.rethink-sans-subhead {
	font-family: "Rethink Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
  }
.portfolio-heading {
	font-family: "Rethink Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.rethink-sans-bodyfont {
	font-family: "Rethink Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }

.home-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffffff;
    padding: 0 0 0 0;
	gap: 10px 10px;
}
.home-container > div {
	width:95%;
	background-color: #ffffff;
	color: black;
	border: 0 solid black;
	padding: 1fr;
	/* font-size: 1em; */
	text-align: center;
  }
  .home-container > #about-blurb {
	font-size: 3vw;
	padding: 0 5% 0 5%;
	text-align: justify;
  }

#portfolio-button {
	/* font-size: 5vw; */
	background-color: #ff7400;
	color: white;
}

#portfolio-button a {
	color: white;
	font-family: "Cantora One", sans-serif;
	font-style: normal;
}

#resume-button {
	/* font-size: 5vw; */
	background-color: #ff7400;
}

#resume-button a {
	color: white;
	font-family: "Cantora One", sans-serif;
	font-style: normal;
}
button a {
	text-decoration: none;
}
button a:hover{
	text-decoration:underline;
}
#home-page {
	background-color: #f0cfce;

}
#home-page a {
	color: black;
	/* font-family: ; */
}

/* Styling the Portfolio Page*/
.portfolio-heading {
	/* width: 90%; */
	color: black;
	/* font-size: 2vw; */
}
h2 {
	margin: 3% 5% 3% 5%;
}
div img {
	margin: 0 0 2% 0;
	vertical-align: bottom;
}
/* Styling "defaults" across all pages*/
body {
	/* color: #753EB7; */
	text-align: center;
	background-color: white;
}

.attribution {
	color: #000000;
	background-color: white;
	text-align: center;
	padding: 5px 0 0 0;
	margin: 5vw 0 0 0;
}
/* Portfolio Homepage */
.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #ffffff;
    padding: 10px 15px 0 0;
	gap: 10px 10px;
}
.container > div {
	background-color: #f1f1f1;
	border: 2px solid black;
	padding: 1fr;
	/* font-size: 1em; */
	text-align: center;
  }
.project-thumbnail {
	width: 90%;
	/* margin-top: 20px; */
	/* vertical-align: bottom; */
}

/* Portfolio Page Grid Layout */
.portfolio-page-content {
    display: flex;
    background-color: #ffffff;
    padding: 10px 10px 0 0;
	gap: 10px 10px;
}
.portfolio-page-content > div {
	/* width: 50%; */
	background-color: #f1f1f1;
	padding: 1fr;
  }
/* HOMEPAGE */


/* Content Layout- Homepage*/

.homepage {
	display: flex;
	flex-direction: column;
}

.project-thumbnail:hover {
	/*rotate:20deg;*/
	transform:scale(1.1);
}

/* Homepage- text content styling*/
.about-message{
	font-family: 'Calistoga', serif;
	margin-left: 13%;
	margin-right: 13%;
	font-size:2em;
}

header {
	color: black;
	background-color: #000000;
	padding: 10px 0;
	/* width:100%; */

}

button {
	color: white;
	background-color: #FFCAD7;
	padding: 20px;
	font-size: 5vw;
	border-radius: 10px;
	font-family: "Cantora One", sans-serif;
	margin-top: 20px;
}

a:hover{
	text-decoration:underline;
}

.accordion {
	background-color: #eee;
	color: #000000;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	font-size: 4vw;
	transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
	background-color: white;
	/* max-height: 0; */
	display: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }
.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 18px;
	color: #777;
	float: right;
	margin-left: 5px;
  }
  
.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.portfolio-nav a {
	text-decoration: none;
	color: #000000;
	float: left;
	font-size: 3vw;
	padding: 2% 16px;
	margin: 0 0 2% 0;
}
.nav-list {
	list-style: none;
}
.subpage-content {
	display: flex;
	flex-direction: column;
}
/* a#nav-home {
	padding: 2% 16px 2% 0;
} */
ul {
	padding-inline-start: 2vw;
}
#nav-block {
	background-color: #f1f1f1;
}