/* Homepage Styling */
.homepage-head-background {
		height: 350px;
		background: url('images/portfolio-header-480-600.svg');
	}
	h1 {
		margin: 20% 10% 20% 10%;
		font-size: 2.5em;
	}
	.home-container {
		display: flex;
		flex-direction: row;
		/* padding: 0; */
		background-color: #ffffff;
	}
	.home-container > div {
		width: 70%;
		color: black;
		/* padding: 0; */
		text-align: left;
	  }
	  .home-container > #about-blurb {
		width: 90%;
		margin-left: 5%;
		font-size: 3vw;
		text-align: justify;
	  }
	#button-menu {
		margin-top: 0;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.home-button-layout {
		margin: 0 10px;
	}
/* Portfolio Landing Page Styling */
.portfolio-head-background {
	height: 400px;
	background: url('images/portfolio-head-midsized.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top center;
}
.portfolio-heading {
	font-size: 2vw;
}
#portfolio-h1 {
	font-size: 2em;
	margin: 23% 37% 10% 37%;
	padding: 10px;
}
/* Portfolio Landing Page Styling */
	.portfolio-page-content {
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		padding: 10px 10px 0 0;
		gap: 10px 10px;
	}
	.portfolio-page-content > div {
		width: 100%;
		background-color: #f1f1f1;
		padding: 1fr;
	  }
button {
	font-size: 4.75vw;
}
/* Subpage headers */
#libguide-head-background {
	background: url('images/libguide-head-midsize.svg');
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top center;
}
.libguide-h1 {
	font-size: 2em;
	margin: 20% 18%;
}
#baaaad-head-background {
	background: url('images/baaaad-head-midsize.svg');
	/* background-position: center center; */
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.baaaad-h1 {
	margin: 10% 25% 10% 25%;
	padding: 5px;
	font-size: 2em;
}
#validator-head-background {
	background: url('images/validator-head-midsize.svg');
	background-position: top center;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.validator-h1 {
	margin: 10% 25% 10% 25%;
	padding: 5px;
	font-size: 2em;
}
#lib-diversity-head-background {
    background: url('images/lib-diversity-head-midsized.svg');
    background-position: top center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.lib-diversity-h1 {
    margin: 8% 9% 8% 9%;
    padding: 5px;
    font-size: 2em;
}
.resume-head-background {
	background: url('images/resume-head-midsized.svg');
	background-position: top center;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
#resume-h1 {
	margin: 15% 30% 12% 30%;
	padding: 5px;
	font-size: 2.5em;
}
#collage-head-background {
	background: url('images/collage-head-midsized.svg');
	background-position: top center;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.collage-h1 {
	margin: 9% 20% 9% 20%;
	padding: 5px;
	font-size: 2.5em;
}